<div class="modal-header">
	<button type="button" class="close" ng-click ='cancelDetail()' aria-hidden="true"> &times;</button>
	<h4 class="modal-title" id="detailModalLabel">
	   Lịch sử giữ
	</h4>
 </div>
 <div class="modal-body">
	<form name="formdetail" novalidate class="css-form form-horizontal">
		
		<div class="form-group">
			<label class="control-label col-sm-2">Lần giữ <span class='required' title="Không được trống">(*)</span></label>
			<div class="col-sm-4">
				<input type="number" ng-model="dt_current.lan_giu" min='1' class="form-control"  ng-required="true"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Nhân viên giữ <span class='required' title="Không được trống">(*)</span></label>
			<div class="col-sm-4">
				<ng-typeahead 
					module='dmnv' fields='ma_nv,ten_nv' field-model='ten_nv' field-label='ma_nv'
					ng-model='dt_current.ten_nv' label='dt_current.ma_nv'  ng-required="true">
				</ng-typeahead>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Ngày giữ <span class='required' title="Không được trống">(*)</span></label>
			<div class="col-sm-4">
				<ng-datepicker ng-model='dt_current.ngay_giu' ng-required='true'></ng-datepicker>
			</div>
		</div>
	</form>
 </div>
 <div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="updateDetail()"  ng-disabled="formdetail.$invalid">
	   Nhận
	</button>
	<button type="button" class="btn btn-default" ng-click='cancelDetail()'>Hủy</button>
 </div>